.main {
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 95vh;
  background: rgb(251,251,251);
}

.header {
  background: linear-gradient(#435562, #344551);
  color: #fff;
  border-radius: 0;
  height: 88px;
  justify-content: center;
}

.account {
  display: none;
}

.welcome {
  height: 40px;
  background: lightcyan;
}